/* canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
} */

#screen {
    display: flex;
}

canvas {
    margin: 3px;
}

body {
    display: flex;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 15px;
    text-align: center;
}

#dots-table {
    padding: 5px 15px;
    width: 100%;
    margin-left: 10px;
}