* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    display: flex;
    /* background-color: whitesmoke; */
}

/* input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
} */

.block {
    position: absolute;
    display: block;
    height: 150px;
    width: 250px;
    background-color:lavenderblush;
    border-radius: 25px;
    border: solid gray 3px;
}

#view {
    flex-grow: 1;
    float: left;
    display: block;
    height: 100vh;
    width: 70%;
    background-color: azure;
    overflow: auto;
    cursor: grab;
}

#content {
    transform: scale(1);
    position: relative;
    display: block;
}

#sidebar {
    display: block;
    float: right;
    height: 100vh;
    width: fit-content;
    background-color: blueviolet;
    padding: 0 5px;
}

.bar-item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 60px;
    margin: 0 0 10px;
    background-color: aqua;
    border-radius: 10px;
}

.input {
    background-color: white;
    display: block;
    flex-grow: 1;
    /* appearance: none; */
    /* -webkit-appearance: none;
    -moz-appearance: textfield; */
    border: 0;
    margin: 6px;
    font-size: 25px;
    border-radius: 10px;
}

.input::placeholder {
    font-size: 20px;
    font-weight: bold;
    opacity: 0.5;
    color:cadetblue;
}

.wrong-input-animation {
    animation: blink 0.75s;
}

@keyframes blink{
    0% {
      background: white;
    }
    25% {
      background: red;
    }
    50% {
      background: white;
    }
    75% {
      background: red;
    }
    100% {
      background: white;
    }
  }

.button {
    display: block;
    padding: 0 10px;
    margin: 6px 10px 6px 0;
    border: none;
    background-color: brown;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    min-width: 60px;
}

.button:hover {
    background-color: yellow;
}

.button:active {
    background-color: red;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: auto auto auto 15px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.text-hint {
    text-align: right;
    margin: auto 0 auto auto;
    font-size: 24px;
    font-weight: bold;
    color:black;
}
